{
    "fw": {
        "networks4": [
            "127.0.0.1/8",
            "192.168.10.42"
        ],
        "networks6": [
            "::1/8"
        ]
    },
    "sns": {
        "networks4": [
            "192.168.0.0/16", 
            "192.167.204.0/22"
        ], 
        "networks6": [
            "2001:10:20::/48"
        ]
    },
    "uzsrv": {
        "networks4": [
            "192.168.10.0/24", 
        ],
        "networks6" : [
        ]
    },
    "hml": {
        "networks4": [
        ],
        "networks6": [
            "2001:10:20::/48"
        ]
    }
}
